/* {
  box-sizing: border-box;
}*/

body {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  /*background-size: cover;*/
  font-family: 'Courgette', cursive;
  color: beige;
  font-size: 28px;
  text-align: center;
  max-width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.Router {
  margin: 0;
  padding: 0;
  width: 100%;
}
  
.courgette {
  font-family: 'Courgette', cursive;
}

.lobster {
  font-family: 'Lobster', cursive;
}


