/* {
  box-sizing: border-box;
}*/

body {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  /*background-size: cover;*/
  font-family: 'Courgette', cursive;
  color: beige;
  font-size: 28px;
  text-align: center;
}


.main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  max-width: 100%;
  margin: 0;
}
  
.courgette {
  font-family: 'Courgette', cursive;
}

.lobster {
  font-family: 'Lobster', cursive;
}


