* {
  box-sizing: border-box;
}

body {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  font-family: 'Courgette', cursive;
  color: beige;
  font-size: 28px;
  text-align: center;
}

.courgette {
  font-family: 'Courgette', cursive;
}

.lobster {
  font-family: 'Lobster', cursive;
}


